@tailwind base;
@tailwind components;
@tailwind utilities;

.MuiAccordion-root {
  background-color:#00bba8 !important;
}

video {
  position: absolute;
  width: 100vw !important;
  height: calc(100vh - 40px) !important;
  object-fit: cover !important;

  top: 40px !important;


}